<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />
    <title>PLN-PP1</title>
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js" defer></script>
  </head>
  <header class="pageHeader">
    <h1 class="title textBold">
      Projeto Prático 1 - Chatbot 🤖 com Dialog flow
    </h1>
  </header>
  <body class="backgroundMatch">
    <div class="contentContainer">
      <div>
        <p1 class="textSlim"
          >O chatbot possui a capacidade de atualizar um endereço ou cadastrar
          um novo usuário. Após alguma ação, atualize a página para verificar os
          resultados. Começe com algo do genêro:</p1
        >
        <ul class="textSlim">
          <li>"Gostaria de atualizar meu endereço"</li>
          <li>"Quero me cadastrar"</li>
        </ul>
        <div style="display:flex;justify-content: center;margin-top:2vh">
          <div id="gitRedirect" class="button">
            <img
              src="https://cdn.glitch.global/aacaef2a-c75e-4872-a8f6-2ee23a3873f8/github.svg?v=1659877334090"
            />
            <p1 class="textBold" style="font-weight: normal">
              Repositório do Projeto
            </p1>
          </div>
        </div>
      </div>
      <div class="chatbotContainer">
        <div class="sheetsIntegration">
          <script src="https://sheetdb.io/s/t/vxzzme7z830xr.js"></script>
        </div>
        <iframe
          class="chatbot"
          allow="microphone;"
          width="350"
          height="430"
          src="https://console.dialogflow.com/api-client/demo/embedded/0a851238-6295-4058-a139-e33f154eb64d"
        >
        </iframe>
      </div>
    </div>
  </body>
  <footer class="pageFooter">
    <p1 class="textBold noBackground"
      >Processamento de linguagem natural 🗣️ - UFABC 2Q 2022</p1
    >
  </footer>
</html>
